@{
    ViewBag.Title = "AgregaCarrito";
}

<h2>Mi Carrito de Compras</h2>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Total</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            double total = 0;
        }
        @if (Session["carrito"] != null)
        {
            
            foreach (var item in (List<CarritoCompras.Models.CarritoItem>)Session["carrito"])
            {
                total += (double)(item.Cantidad * item.Producto.Precio);
                <tr>
                    <td>@item.Producto.Id</td>
                    <td>@item.Producto.Nombre</td>
                    <td>@String.Format("{0:C}",item.Producto.Precio)</td>
                    <td>@item.Cantidad</td>
                    <td>@String.Format("{0:C}",(item.Cantidad*item.Producto.Precio))</td>
                    <td>@Html.ActionLink("Eliminar","Delete","Carrito",new {Id=item.Producto.Id },null)</td>
                </tr>
            }
        }
    </tbody>
    <tfoot>
        <tr>
            <th colspan="4">Total</th>
            <th>@String.Format("{0:c}",total)</th>
        </tr>
    </tfoot>
</table>
@Html.ActionLink("Seguir Comprando", "Index", "Producto", null, null)
